@import '../../styles/variables';

.wrapper {
  all: unset;
  background-color: $color-counter-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex: 1 0 100px;
  color: $color-text-black;
  padding: 10px;

  box-shadow: $box-shadow;
  border-radius: $border-radius;

  & h2 {
    font-size: $font-size-normal;
    text-align: center;
  }

  & p {
    font-weight: $font-weight-bold;
    font-size: $font-size-md;
    text-align: center;
  }

  &.on p {
    color: $color-success
  }

  &.off p {
    color: $color-error;
  }

}