@import '../../styles/variables';
@import '../../styles/mixins';

.wrapper {
  @include component-wrapper;

  & h2 {
    @include title-component;
  }

  & p {
    @include text-component;
    font-size: $font-size-normal;
  }

  &.on p {
    color: $color-success
  }

  &.off p {
    color: $color-error;
  }

}