@import './styles/variables';

:root {
  font-family: 'Roboto', sans-serif;
  font-weight: $font-weight-regular;

  color-scheme: light dark;
  color: $color-text-black;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: $color-app-bg;

  display: flex;
  justify-content: center;
  align-items: center;
}